

.CreateEventContainer {
  width: 90vw;
  max-width: 800px;
  margin-top: 30px;
  background-color: var(--secondary-color);
  border: 1px solid grey;
  border-radius: 10px;
  padding: 40px;
}


.divFormCreateEvent {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10;
}

.createEventLabel {
  font-size: 20px;
  margin: 10px;
}
.createEventLabelSelect {
  /*margin: 10px */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.selectContainer{
  display: flex;
  align-items: center;
  color: black;
}


.inputFormCreateEvent {
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
  width: 50%;
}

.inputNameEvent{
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
  width: 91%;
}

.dateFormCreateEvent2 {
  margin: 10px;
  border: 1px solid var(--black);
  border-radius: 10px;
  font-size: 16px;
  width: 50%;
}

.createEventDateInput{
  display: flex;
  width: 100%;
}

.dateFormContainer {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateFormCreateEvent {
  margin-right: 10px; /* Add right margin for spacing */
  border: 1px solid var(--black);
  border-radius: 10px;
  font-size: 16px;
  width: 50%;
}

.defaultContainerCreateEvent{
  width: 90vw;
  max-width: 800px;
  margin-top: 30px;
}

.smallContainerCreateEventInputs{
  display: flex;
  height: 40vh;
  text-align: start;
}

.inputsFlexible{
  display: flex;
  text-align: start;
}

.smallContainerCreateEventLeftSide{
  flex: 1;
  display: flex;
  align-items: center; 
  justify-content: center;
  font-weight: bold;
}

.flexibleLeftSide{
  flex: 1;
  display: flex;
  align-items: center; 
  justify-content: center;
  font-weight: bold;
}

.smallContainerCreateEventRightSide{
  align-items: center;
  flex: 1;
  display: flex;
  align-items: center; 
}

.flexibleRightSide{
  align-items: center;
  flex: 1;
  display: flex;
  align-items: center; 

}

.divButtonCreatePromoter {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 20px; /* Optional margin for spacing */
}

.div1CreateEvent {
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.div2CreateEvent {
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.divCreateEventTitle {
  display: flex;
  align-items: center;
}

.typesListing {
  border: 1px solid var(--white);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.typesListing-elem-1 {
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.typesListing-elem-2 {
  margin-right: 30px; /* Adjust this value to move it to the left */
}

.typesListing-elem-3 {
  margin-right: 5px; /* Adjust this value to move it to the left */
}


.inputSelectArtist {
  flex: 1;
  border-radius: 10px;
  font-size: 22px;
  padding-right: 15;
  max-width: 50%;
  margin-left: auto; /* Add this line to push the element to the center */
  margin-right: auto;
  color: black;
}

.inputPopUpAddType {
  border: 1px solid var(--black);
  border-radius: 10px;
  font-size: 22px;
  margin: 10px; /* Add margin-bottom for vertical spacing */
  max-width: 40%;
  
}

.inputPopUpAddTypePrice {
  border: 1px solid var(--black);
  border-radius: 10px;
  font-size: 22px;
  margin: 10px; /* Add margin-bottom for vertical spacing */
  max-width: 20%;
}

.addTypeDate {
  border: 1px solid var(--black);
  border-radius: 10px;
  font-size: 18px;
  margin: 10px; /* Add margin-bottom for vertical spacing */
  max-width: 25%;
}


.underlined{
  text-decoration: underline;
}

.promptAddArtist{
  text-decoration: underline;
  color: black;
}

.addIconToTitle{
  height: 20px;
  margin-left: 10px;
}