.headerButtonEventListing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addIcon {
  margin-right: 10px;
  max-height: 45px;
  height: 20px;
  cursor: pointer;
}

.addIcon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

.addPromptContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.h3AddPrompt {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--light-blue);
}

.h3AddPrompt:active {
  color: var(--lighter-blue);
}