
:root{
    --primary-color: #1B2128;
    --secondary-color: #163949;  
    --third-color: #123A47; /* nao usar */
    --dark-blue: #161A1E;  
    --light-blue: #019ACE;
    --lighter-blue: #4ACAF5;
    --primary-text-color: white;
    --green: #2ED779;
    --second-green: #69F3A7;
    --white: white;
    --black: black;
    --grey: #E0E0E0;
    
    --font-family: 'Hind', sans-serif;
}

* {
    font-family: var(--font-family);
    margin: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.centerAll{
    display: flex;
    justify-content: center;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

.displayVertically{
    display: flex;
    flex-direction: column;
}

.displayHorizontally{
    display: flex;
}

.displayHorizontallyEvenly{
    display: flex;
    justify-content: space-evenly;
}

.gray{
    opacity: 0.5;
}

.button{
    background-color: var(--light-blue);
    border: none;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: white;
}

.button:active{
    background-color: var(--lighter-blue);
}

.defaultContainer{
    width: 90vw;
    max-width: 800px;
    margin-top: 30px;
}

.relative{
    position: relative;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.clearOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.marginTop{
    margin-top: 8vh;
}

.marginBottom{
    margin-bottom: 8vh;
}


.popUpContainer{
    width: 500px;
    height: 30vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    text-align: center;
    border-radius: 15px;
    z-index: 2;
}

.popUpInfo{
    margin-top: 12vh;
    color: var(--black);
}


.popUpInfoWithButtons{
    margin-top: 10vh;
    color: var(--black);
}

.colorGreen{
    color: var(--green);
}

.error{
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
}

.errorNotVisible{
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
    visibility: hidden;
}