
:root{
    --primary-color: #1B2128;
    --secondary-color: #163949;  
    --third-color: #123A47;
    --dark-blue: #161A1E;  
    --primary-text-color: white;
    --green: #2ED779;
    --second-green: #69F3A7;
    --white: white;
    
    --font-family: 'Hind', sans-serif;
}

* {
    font-family: var(--font-family);
    margin: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.centerAll{
    display: flex;
    justify-content: center;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

.displayVertically{
    display: flex;
    flex-direction: column;
}

.displayHorizontally{
    display: flex;
}

.gray{
    opacity: 0.5;
}