

.navBar{
    display: flex;
}

.logoImage{
    margin-left: 20px;
    margin-top: 10px;
}

.navBarRighSide{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;   
}

.iconTab{
    margin-top: 5px;
    margin-right: 20px;
}

.iconTab:hover{
    margin-top: 5px;
    margin-right: 20px;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}


.profileTab{
    height: 30px;
    margin-top: 5px;
    margin-right: 20px;
}

.profileTab:hover{
    height: 30px;
    margin-top: 5px;
    margin-right: 20px;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}


.tab{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 800;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}

.tab:hover{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 800;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}


.tabSelected{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 800;
    margin-right: 20px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--light-blue);
    cursor: pointer;
}

.sellTab{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 800;
    margin-right: 30px;
    background-color: var(--green);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.sellTabSelected{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 800;
    margin-right: 30px;
    background-color: var(--green);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.popup{

    position: absolute;
    right: 55px;
    top: 60px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 1px solid var(--white);
    z-index: 1;
    width: 300px;
    
}

.popupTitle{
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 800;
}

.input{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.input::placeholder{
    text-align: center;
}

.popupLoginSignup{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer
}

.popupLoginSignup:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}

.popupButton{
    background-color: var(--green);
    color: var(--primary-text-color);
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    width: 150px;
    align-self: center;
}

.popupButton:active{
    background-color: var(--second-green)
}


/*------------------ NavBar User ---------------*/

.popupOptions{
    position: absolute;
    right: 60px;
    top: 60px;
    background-color: var(--secondary-color);
    border: 1px solid var(--white);
    z-index: 1;
    width: 250px;
}

.option{
    color: var(--primary-text-color);
    text-decoration: none;
    cursor: pointer;
}

.option:hover{
    background-color: var(--dark-blue);
}

.optionsIcon{
    height: 18px;
    margin: 15px;
}

.optionsName{
    margin-top: 11px;
}
