
.promoterContainer{
    background-color: var(--dark-blue);
    height: 130px;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.promoterLeftSide {
    text-align: center;
    flex-grow: 1;
}

.promoterRightSide {
    margin-left: 20px;
    flex-grow: 1;
}

.promoterValues{
    font-weight: lighter;
    margin-left: 10px;
}

.closeImg{
    position: absolute;
    right: 13px;
    top: 10px;
    height: 20px;
    cursor: pointer;
}

.closeImg:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}

.promoterButtons{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 5%;
}

.titlePromoters{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addPromoterImg{
    margin-top: 3px;
    height: 20px;
    margin-right: 10px;
}

.addPromoter{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--light-blue);
    cursor: pointer;
}

.addPromoter:active{
    color: var(--lighter-blue);
}