.listingEvent {
  border: 1px solid var(--white);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.listingEvent:hover{
  background-color: var(--dark-blue);
}


.listingEventRightSide{
  margin-right: 30px;
  text-align: center;
}

.listingElemClose{
  position: absolute;
  top: 0;
  right: 5px;
}

.closeIcon {
  transform: scale(0.6);
  cursor: pointer;
}

.closeIcon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(0.8);
}

.soldSellingIcon {
  width: 40px;
  filter: invert(100%);
}

.popUpSellingListButton {
  padding: 10px;
}

.popUpEventContainter {
  width: 500px;
  height: 30vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  text-align: center;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

