.listingEvent {
  border: 1px solid var(--white);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.listingEvent:hover{
  background-color: var(--dark-blue);
}


.listingEventLeftSide{
  flex: 1;
  max-width: 90%;
}





.soldSellingIcon {
  width: 40px;
  filter: invert(100%);
}

.popUpSellingListButton {
  padding: 10px;
}

.popUpEventContainter {
  width: 500px;
  height: 30vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  text-align: center;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

