

.suggestedContainer{
    background-color: var(--dark-blue);
    border-radius: 15px;
    margin-top: 20px;
    width: 70vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.suggestedInfo{
    margin-left: 20px;
}

.buttonSuggestedContainer{
    margin-right: 20px;
}
